body {
    background: #e3f3f8;
}

.tulisan{
    font-weight: bold;
    font-size: 35px;
}
.box1{
    height: 350px;
}

.box2{
    margin-top: 25px;
    margin-bottom: 25px;
    height: 250px;
}
.font{
    font-weight: bold;
    font-size: 20px;
    padding-top: 30px;
}
.fonta{
    color: gray;
    font-size: 15px;
}
.gambar{
    padding-top: 30px;
}
.font1{
    padding-left: 60px ;
}